html {
	font-size: 12px;
}

html, body {
	height: 100%;
	overflow: auto;
}

[v-cloak] {
	display: none;
}

#app {
	height: 100%;
	display: flex;
	flex-direction: column;
}

#main {
	display: flex;
	align-items: flex-start;
	flex: 1;
	padding: 1em;
}

#embedded {
	flex: 1;
	display: flex;
}

iframe.app {
	flex: 1;
	padding-left: 1em;
}
